[defaults]
inventory         = inventory/hosts.ini
host_key_checking = False
timeout           = 30
stdout_callback   = default
private_key_file  = ~/.ssh/id_rsa
forks             = 10

[privilege_escalation]
become          = True
become_method   = sudo
become_user     = root
become_ask_pass = False

